{% extends "leffakirjasto/views/templates/base.html" %}

{% block content %}
 <div class="row-fluid">
    <div class="span8">
        {% for item in movies %}
            <p>{{item.name}}</p>
        {% endfor %}
    </div>
 </div>

<form method="POST" action="/">
    <fieldset>
        <legend>Movie info</legend>
        <p><label class="field" for="name">Name:</label><input type="text" name="name"/></p>
        <p><label class="field" for="original_name">Original name:</label><input type="text" name="original_name"/></p>
        <p><label class="field" for="year">Year:</label><input type="text" name="year"/></p>
        <p><label class="field" for="director">Director:</label><input type="text" name="director"/></p>
        <input type="submit" value="Save"/>
    </fieldset>
</form>
{% endblock %}

