body {	
    background-color: #fff;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

fieldset {
    width: 500px;
}

legend {
    font-size: 20px;
}

label.field {
    text-align: left;
    width: 150px;
    float: left;
}

fieldset p {
    clear: both;
    padding: 5px;
}

/*#register {
    float: left;
    display: inline-block;
}

h1 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #E9E9E9;
	border: 1px solid #CFCFCF;
	border-radius: 4px;
}

.nav li {
    float: left;
    list-style: none;
    padding: 5px;
}

.navbar {
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
}

#container {
    height: auto;
    margin-bottom: 10px;
}*/
